{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>ID</dt>
                <dd>{{ category.id }}</dd>
            <dt>created_at</dt>
                <dd>{{ category.createdAt|date('Y/m/d') }}</dd>
            <dt>updated_at</dt>
                <dd>{{ category.updatedAt|date('Y/m/d') }}</dd>
            <dt>name</dt>
                <dd>{{  category.name }}</dd>
        </dl>
        <div>
            {{ form_start(form, { action: url('category_delete', {id: category.id}) }) }}
            <div>
                <input type="submit" value="delete" class="btn btn-primary">
            </div>
            {{ form_end(form) }}
            <a href="{{ url('category_index') }}">categories</a>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                {% for product in category.products %}
                    <tr>
                        <td>
                            <a href="{{ url('product_show', {'id' : product.id}) }}">{{ product.name }}</a>
                        </td>
                        <td>
                            <a href="{{ url('wishlist_add', {'id' : product.id}) }}">add to wishlist</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No matching category</p>
    {% endif %}
{% endblock %}